name: CreateCache
on:  
  schedule:    
    - cron:  '*/5 * * * *'
  workflow_dispatch:
  push:
    branches:
      - master
jobs:        
  Main:      
    name: Create
    runs-on: ubuntu-20.04
    steps:
      - name : Other
        run: |
          sudo apt-get update -y
          sudo apt-get install ffmpeg -y
          mkdir public
          echo "<center><h1>404 NOT FOUND</h1></center>" > public/404.html
          echo clone.orange-mikan.org > public/CNAME
      - name: DownLoad
        run: |
          cd public                                                                                
          curl -L -o tom0k1.jpeg "https://private.orange-mikan.org/ja/tom0k1.jpeg"                              
          ffmpeg -r 60 -loop 1 -t 2.0 -i tom0k1.jpeg -vcodec libx264 -pix_fmt yuv420p -r 60 tom0k1.mp4
          sudo rm *.jpeg          
      - name: gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
               github_token: ${{ secrets.GITHUB_TOKEN }}
               publish_dir: ./public
               force_orphan: false               
      - name: Invoke DeleteCache.yml
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: DeleteCache
          token: ${{ secrets.PERSONAL_TOKEN }}
